<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title || "Q.Style Template" %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=768">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <%= stylesheet_link_tag 'application' %>
        <%= javascript_include_tag 'vendor/modernizr-2.6.2-respond-1.1.0.min.js' %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->


<!-- 主要內容（index.html.erb） -->
<%= yield %>


<!-- 控制列（ctrl_board.html.erb） -->
<%# partial "partials/ctrl_board" %>


<!-- Welcome splash screen 歡迎視窗 -->
<div class="welcome_splash">
  <h3>歡迎來到 Po Wish</h3>
  <p>快來許下你的願望，或幫助別人實現願望吧！</p>
</div>

<!-- 視窗類界面 -->
<div class="windows">
<%= partial "partials/windows" %>
</div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <%= javascript_include_tag 'plugins.js' %>
        <%= javascript_include_tag 'application.js' %>

<!-- Google Analystics -->
<%# partial "partials/GA" %>

    </body>
</html>
