<h3><i class="fa fa-lightbulb-o fa-lg"></i> 活動詳細內容</h3>

<!-- 活動主辦者欄位，可 follow 人 -->
<div class="event-owner">
  <!-- <h4><i class="fa fa-child fa-lg"></i> 許願者：</h4> -->
  <div class="owner-inner">
    <div class="owner-avatar">
      <img src="./img/dummy-avatar.jpg" alt="" class="img-circle img-responsive">
    </div>
    <div class="owner-name">
      <span><%= data.member.firstname %> <%= data.member.lastname %></span>
      <button class="unfollow"><i class="fa fa-heart-o"></i> unFollow </button>
      <!-- <button class="follow"><i class="fa fa-heart-o"></i> Follow </button> -->
    </div>
  </div>
</div>

<!-- event 詳細內容 -->
<div class="content">
  <!-- 日期 -->
  <span class="date"><i class="fa fa-clock-o fa-lg"></i> 2014-08-25（13 天後）</span>
  <!-- 願望（content）或活動（title）標題 -->
  <div class="inner">
    <p class="time-range"><i class="fa fa-calendar fa-lg"></i> <span>2014-09-02</span> ~ <span>2014-09-05</span></p>
    <p><i><%= data.event.title %></i></p><br />
    <!-- 類別 -->
    <span class="category"><i class="fa fa-cutlery fa-lg"></i> 美食</span>
    <!-- 地點 -->
    <span class="location"><i class="fa fa-map-marker fa-lg"></i> 公館 The wall</span>
  </div>
  <!-- 與我的距離 -->
  <span class="distance"><i class="fa fa-compress fa-lg"></i> 距離我 3.9 公里遠</span>
</div><!-- e/o content -->

<!-- 留言板 -->
<div class="comments">

  <div class="timeline">
    <div class="divider-up"></div>
    <% 5.times do |f| %>

    <!-- 留言內容 unit -->
    <div class="comments-unit">
      <div class="left">
        <!-- 使用者頭像 -->
        <div class="comment-avatar">
          <img src="../img/dummy-avatar.jpg" alt="" class="img-circle img-responsive">
        </div>
        <!-- 留言時間 -->
        <div class="name">
          <span><%= data.member.firstname %></span>
        </div>
      </div>
      <div class="right">
        <!-- 留言內容 -->
        <div class="say">
          <span><%= data.comment.content %><%= data.comment.content %><%= data.comment.content %></span>
          <span class="time">50 分鐘前</span>
        </div>
      </div>
    </div>
    <% end %>

  </div>

  <div class="divider-down"></div>

</div><!-- e/o comments -->
