<h3><i class="fa fa-lightbulb-o fa-lg"></i> 活動詳細內容</h3>

<!-- 活動主辦者欄位，可 follow 人 -->
<div class="event-owner">
  <!-- <h4><i class="fa fa-child fa-lg"></i> 許願者：</h4> -->
  <div class="owner-inner">
    <div class="owner-avatar">
      <img src="./img/dummy-avatar.jpg" alt="" class="img-circle img-responsive">
    </div>
    <div class="owner-name">
      <span><%= data.member.firstname %> <%= data.member.lastname %></span>
      <button><i class="fa fa-heart-o"></i> Follow </button>
    </div>
  </div>
</div>

<!-- 活動標題 -->
<div class="event-title">
  <div class="inner">
    <p><i><%= data.event.title %></i></p><br />
    <p class="signature">主辦人： <span><%= data.member.firstname %></span></p>
  </div>
</div>

<!-- 其他詳細資訊 -->
<div class="other-info">
  <div class="detail">
    <h4>
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i>
      </span>
      活動類別
      <p>
        <i class="fa fa-cutlery"></i> 美食
      </p>
    </h4>
  </div>

  <div class="detail">
    <h4>
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
      </span>
      開始時間
      <p>
        <%= data.event.time %> （<span>還有 22 天</span>）
      </p>
    </h4>
  </div>

  <div class="detail">
    <h4>
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
      </span>
      舉辦地點
      <p>
        <%= data.event.location %> （距離我 <span>3</span> 公里遠）
      </p>
    </h4>
  </div>

  <div class="detail">
    <h4>
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
      </span>
      參加費用
      <p>
        <%= data.event.fee %> 元
      </p>
    </h4>
  </div>
</div><!-- e/o 其他詳細資訊 -->
