<!-- 許願表單視窗， js -> makeWishForm -->
  <div class="make-wish">

    <%= partial "partials/make_wish_form" %>

  </div><!-- e/o make-wish -->

  <!-- 確認視窗 -->
  <div class="confirm-dialog">
    <%= partial "partials/confirm_dialog" %>
  </div>

  <!-- 分享表單視窗 -->
  <div class="share-form">
    <%= partial "partials/share_form" %>
  </div><!-- e/o share-form -->


  <!-- 實現願望表單視窗 -->
  <div class="host-form">
    <%= partial "partials/host_form" %>
  </div><!-- e/o host-form -->


  <!-- 留言討論視窗 -->
  <div class="view-comments">
    <%= partial "partials/view_comments" %>
  </div><!-- e/o view-comments -->
