---
title: Wish.Land - 非會員頁面
---

<!-- START from here! -->
<div class="search">
  <div class="input-group">
    <input type="text" class="form-control" name="q" value="" placeholder="搜尋其它地點...">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
    </span>
  </div>
</div>

<div class="qrow index">
  <!-- main function view -->
  <div class="main_map">
    <!-- map -->
    <div id="map" class="blur trans-1s"></div>
    <!-- black overlay -->
    <div class="overlay">

<!-- detail info panel -->
<%= partial "partials/index/wish_detail" %><!-- end of detail info panel -->

<!-- detail info panel -->
<%= partial "partials/index/event_detail" %><!-- end of detail info panel -->

    </div><!-- end of black overlay -->

    <!-- landing UI -->
    <div class="ui">
        <div class="avatar">
          <a id="discover-trigger" href="#">
            <img src="<%= lorem.image('120x120', :text => "Discover") %>" alt="" class="img-responsive img-circle box-shadow">
          </a>
        </div>
        <a href="#" class="trans-05s login-button" data-toggle="modal" data-target="#login-form">立即登入 <i class="fa fa-sign-in fa-lg"></i></a>
    </div><!-- end of landing UI -->

    <!-- isUser UI -->
    <div class="isUser">
      <div class="avatar">
        <a href="#wish-category">
          <img src="<%= lorem.image('120x120', :text => "Avatar") %>" alt="" class="img-responsive img-circle box-shadow">
        </a>
      </div>
      <div class="username">
        <span>FunnyQ</span>
      </div>
      <!-- fake points -->
      <a href="#" class="wish-point" data-wish="wish001"><i class="fa fa-coffee"></i></a>
      <a href="#" class="event-point" data-event="event001"><i class="fa fa-cutlery"></i></a>
    </div><!-- end of isUser UI -->

  </div><!-- end of main function view -->

</div>

<!-- login form -->
<%= partial "partials/login_form" %><!-- end of login form -->

